<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 20px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }
</style>
<h1>Настройки профиля:</h1>
<form method="post">
    {% csrf_token %}

    <h3>Данные аккаунта</h3>
    {{ form.as_p }}

    <button type="submit">Сохранить</button>
</form>
